<!DOCTYPE html>
<!--<html lang="zh-cn">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <title>FAQ--文档详情</title>

    <link rel="stylesheet" href="css/default.css?v=1.3"/>
    <link rel="stylesheet" href="css/wallet.css?v=1.3"/>
</head>
<body>

<header id="header">
    <div id="header-main" class="header-inner">
        <div class="outer">
            <a href="/" id="logo">
                <i class="logo"></i>
                <span class="site-title">程序猿MM</span>
            </a>
            <nav id="main-nav">

                <!--<a class="main-nav-link" target="_blank" href="https://t.xiaomiquan.com/zfEiY3v">知识星球</a>-->

                <a class="main-nav-link" target="_blank" href="/books">首页</a>

                <a class="main-nav-link" target="_blank" href="/free-books.html">我的收藏</a>

                <a class="main-nav-link" target="_blank" href="/archives">我的上传</a>

                <a class="main-nav-link" target="_blank" href="/aboutme">关于</a>

            </nav>


            <nav id="sub-nav">
                <div class="profile" id="profile-nav">
                    <a id="profile-anchor" href="#">
                        <!--<img class="avatar" src="/css/images/weixin.jpg">-->
                        <i class="fa fa-caret-down"></i>
                    </a>
                </div>
            </nav>

            <div id="search-form-wrap">

                <form class="search-form">
                    <input type="text" class="ins-search-input search-form-input" placeholder="搜索"/>
                    <button type="submit" class="search-form-submit"></button>
                </form>

                <!--<script>-->
                <!--(function (window) {-->
                <!--var INSIGHT_CONFIG = {-->
                <!--TRANSLATION: {-->
                <!--POSTS: '文章',-->
                <!--PAGES: '页面',-->
                <!--CATEGORIES: '分类',-->
                <!--TAGS: '标签',-->
                <!--UNTITLED: '(未命名)'-->
                <!--},-->
                <!--ROOT_URL: '/',-->
                <!--CONTENT_URL: '/content.json'-->
                <!--};-->
                <!--window.INSIGHT_CONFIG = INSIGHT_CONFIG;-->
                <!--})(window);-->
                <!--</script>-->
                <!--<script src="/js/insight.js"></script>-->

            </div>
        </div>
    </div>
    <div id="main-nav-mobile" class="header-sub header-inner">
        <table class="menu outer">
            <tbody><tr>

                <td><a class="main-nav-link" href="https://t.xiaomiquan.com/zfEiY3v">知识星球</a></td>

                <td><a class="main-nav-link" href="/books">推荐书单</a></td>

                <td><a class="main-nav-link" href="/free-books.html">开源书籍</a></td>

                <td><a class="main-nav-link" href="/archives">归档</a></td>

                <td><a class="main-nav-link" href="/aboutme">关于</a></td>

                <td>

                    <div class="search-form">
                        <input type="text" class="ins-search-input search-form-input" placeholder="搜索"/>
                    </div>

                </td>
            </tr>
            </tbody></table>
    </div>
</header>
<!--主体内容-->
<div class="sp-container">
    <div class="cm-path">
        <a href="index">首页</a>
        <span>&gt;</span>
        <span>文档列表</span>
    </div>
    <iframe src="My.pdf" style="width:718px; height:700px;" frameborder="0"></iframe>
</div>

<script src="js/vendor/jquery-3.1.1.js"></script>
<script src="js/default.js?v=1.3"></script>
<script type="text/javascript" src="js/detail.js"></script>
</body>
</html>